
.nav {
  /* background-color: #356598; */ /*#be3144;*/
  &.light {
    background: linear-gradient(0deg, rgb(118, 201, 255), var(--main-blue));
  }
  &.dark {
    background: linear-gradient(0deg, var(--main-gray), var(--main-blue));    
  }
  
  color: #F1F1F1;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  padding-right: .2em;

  &__list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
    gap: .2em;

    & .theme-icon {
      display: flex;
      padding: 0 1em 0 1em;
      cursor: pointer;
      opacity: 0.4;
      
      @-webkit-keyframes fadeinout-theme-icon {
        0%,100% { 
          opacity: 0.4;
        }
        50% { 
          opacity: 1;
        }
      }
    
      @keyframes fadeinout-theme-icon {
        0%,100% {
          opacity: 0.4;
        }
        50% {
          opacity: 1;
        }
      }

      &:hover {
        animation: fadeinout-theme-icon 1s linear infinite; 
      }

      svg {
        height: 1.75em;
        width: 1.75em;
      }
    }
  }

  &__item {
    color: #dfdfe2;
    margin: .8rem .2rem;
    display: block;
  }

  &__link {
    color: var(--main-white);
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    padding: .5rem 1rem;

    &:hover, &:focus {
      &.light {
        background-color: var(--main-blue);
      }
      &.dark {
        background-color: var(--main-blue);
      }
      cursor: pointer;
      outline: none;
      border-radius: 1rem;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
    }

    &:active {
      box-shadow: none;
    }   
  }
}
