/* Variables */

:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #356598;
  --main-gray: #303841;
  --main-green: #3A847A;
  --main-input-color: var(--main-white);
  --main-input-background-color: #80A1C2;
}

/* Base reset */

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* box-sizing and font sizing */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 16px;
  /* cursor: url('./assets/pointer.svg'), pointer; */
}

/* Scrollbar */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: var(--main-gray);
  border-radius: 10px;
  border: 2px solid  var(--main-blue);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--main-blue);
}

::-webkit-scrollbar-thumb {
  border: 1px solid  var(--main-white);
  border-radius: 10px;
  background-color: var(--main-blue);
}

/* Base styles */

html, body {
  overflow-x: hidden 
} 

body {
  font-family: 'Poppins', sans-serif;
  color:  var(--main-red); /*#091434; */
}

/* 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


@media screen and (max-width: 991.98px) {
  * {
    font-size: 16px;
  }
}

@media screen and (max-width: 767.98px) {
  * {
    font-size: 13px;
  }
}

@media screen and (max-width: 575.98px) {
  * {
    font-size: 10px;
  }
}

@media screen and (max-width: 433px) {
  * {
    font-size: 9px;
  }
}

@media screen and (max-width: 216px) {
  * {
    font-size: 8px;
  }
}