.button {
  width: 100%;
  font-size: 1.4em;
  font-weight: bold;
  padding: 0.8em;
  background-color: var(--main-red);
  color: var(--main-white);
  border: none;
  border-radius: 1.3em;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
  opacity: 85%;

  &:hover, &:focus {
    opacity: 100%;
  }

  &:active {
    box-shadow: none;
  }

  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 50%;
  }
}
