.input-container {
  min-height: 4.5rem;
  width: 100%;
  background-color: var(--main-input-background-color);
  padding: 7px;
  border: 2px solid var(--main-white);
  border-radius: 1rem;

  position: relative;
  color: var(--main-input-color);

  &:focus-within {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  }
  
  input, textarea, select {
    position: absolute;
    top: 2rem;
    left: .8rem;
    font-size: 1.5rem;
    background-color: var(--main-input-background-color);
    border: none;
    width: calc(100% - 1.6rem);
    outline: none;
  }
  
  .label-container {
    font-weight: 900;
    position: absolute;
    top: .8rem;
    left: .8rem;
    z-index: 1;

    &__error-label {
      color: var(--main-red);
      margin-left: 1rem;
    }
  }
}
