/* Contact section */

.contact-section {

  &.dark {
    background: #333333;
    color: #5DC2B1;
  }

  &.light {
    background: #7AA9BD;
    color: var(--main-white);
  }

  min-height: 80vh;
  padding-bottom: 3em;
  
  &__header {
    color: var(--main-red);
    font-size: 3em;
    padding-top: .5em;
    margin: 0 auto 0.5em auto;
    text-decoration: underline;
    text-align: center;
  }

  &__form {
    padding: 2em 0 2em 0;

    .contact-form {
      width: 35em;
      margin: 0 auto;
      overflow: auto;
      
      &__fieldset {
        border: none;
        display: flex;
        flex-direction: column;
        gap: 1.25em;
        margin-bottom: 1.25em;
      }

      button[type=submit] {
        width: 12.5em;
        float: right;
      }
    }
  }
  
}
