/* Contact section */

.contact-section {
  min-height: 80vh;
  scroll-margin-top: 3.8em;
  padding-bottom: 3em;

  &.dark {
    background: linear-gradient(360deg, #333333, #888888);
    color: #5DC2B1;
  }

  &.light {
    background: linear-gradient(360deg, rgb(118, 201, 255), rgb(247, 255, 222));
    color: var(--main-red);
  }

  &__header {
    font-size: 3em;
    padding-top: .5em;
    margin: 0 auto 0.5em auto;
    text-align: center;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &__form {
    padding: 2em 0 2em 0;

    .contact-form {
      width: 35em;
      margin: 0 auto;
      overflow: auto;
      
      &__fieldset {
        border: none;
        display: flex;
        flex-direction: column;
        gap: 1.25em;
        margin-bottom: 1.25em;
      }

      button[type=submit] {
        width: 12.5em;
        float: right;
      }
    }
  }

  &__image {
    padding: 2em;
    height: 40em;
  }
}
