/* Contact section */

.contact-section {
  background: linear-gradient(180deg, var(--main-blue) 0%, var(--main-green) 100%);
  color: var(--main-white);
  min-height: 80vh;
  padding-bottom: 3rem;
  
  &__header {
    font-size: 2.5rem;
    padding-top: 3rem;
    margin: 0 auto 3rem auto;
    max-width: 16rem; /* este es el unico distinto de project-section-header */ 
    border-bottom: 0.2rem solid;
    text-align: center;
  }
  
  .contact-form {
    width: 35rem;
    margin: 0 auto;
    overflow: auto;
    
    &__fieldset {
      border: none;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      margin-bottom: 1.25rem;
    }
  }
}


button[type=submit] {
  width: 12.5rem;
  float: right;
}
