/* Projects section */

.projects-section {

  &.dark {
    background: #333333;
  }

  &.light {
    background: #7AA9BD;
  }
  
  color: var(--main-white);
  min-height: 50vh;

  &__header {
    font-size: 3em;
    padding-top: .5em;
    margin: 0 auto 0.5em auto;
    max-width: 14em;
    text-decoration: underline;
    text-align: center;
  }
  
  &__cards {
    & .react-multiple-carousel__arrow {
      &::before {
        font-size: 1.25em;
      }
      
      min-width: 2.6875em;
      min-height: 2.6875em;
      z-index: 1;
    }

    &-item {
      display: flex;
      justify-content: center;
      padding: 2em 0 2em 0;
    }
  }  
}
