/* Projects section */

.projects-section {
  min-height: 50vh;
  scroll-margin-top: 3.8em;

  &.dark {
    background: linear-gradient(360deg, #333333, #888888);
    color: #5DC2B1;
  }

  &.light {
    background: linear-gradient(360deg, rgb(118, 201, 255), rgb(247, 255, 222));
    color: var(--main-red);
  }

  &__header {
    font-size: 3em;
    padding-top: .5em;
    margin: 0 auto 0.5em auto;
    max-width: 14em;
    text-align: center;
  }
  
  &__cards {
    & .react-multiple-carousel__arrow {
      &::before {
        font-size: 1.25em;
      }
      
      min-width: 2.6875em;
      min-height: 2.6875em;
      z-index: 1;
    }

    &-item {
      display: flex;
      justify-content: center;
      padding: 2em 0 2em 0;
    }
  }  
}
