.card {
  height: 35.625em;
  width: 22em;
  min-width: 22em;
  margin: auto 1em;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &:hover {
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
  }

  &__title {
    &.light {
      color: var(--main-blue);
    }
    &.dark {
      color: #5DC2B1;
    }
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;

    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__image-container {
    height: 18.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.625em;
  }

  &__image {
    max-height: 18.75em;
    max-width: 19.2em;
  }

  &__tag-container {
    height: 1.5em;
    margin: 0.5em 0 0.5em;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5em;
  }
  
  &__description {
    max-height: 4.5em;
    
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &.light {
      color: var(--main-green);
    }
    &.dark {
      color: #000080;
    }
  }
  
  &__buttons {
    bottom: 1.25em;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.625em;
  }
  
  &__buttons > a > button {
    width: 100%;
  }
  
  &__button-code {
    flex-grow: 1;
  }
  
  &__button-live {
     flex-grow: 3;
  }
}
