.card {
  height: 35.625em;
  width: 22em;
  min-width: 22em;
  margin: auto 1em;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &:hover {
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
  }

  &__title {
    &.light {
      color: var(--main-blue);
    }
    &.dark {
      color: #000080;
    }
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;

    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__image-container {
    height: 18.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.625em;
  }

  &__image {
    max-height: 18.75em;
    max-width: 19.2em;
  }
}
