.panel {
  width: fit-content;
  height: fit-content;

  border: .2px solid gray;

  &.light {
    background-color: var(--main-white);
  }
  &.dark {
    background-color: #666666;
  }
  border-radius: 1.5em;
  padding: 0.625em;
}
