.social-links {
  font-size: 2.5rem;
  margin: .5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.25rem;
  
  .fa-linkedin {
    color: #0273b1;
  }

  .fa-github {
    color: #000000;
  }
  
  .fa-envelope {
    color: var(--main-red);
  }

  .codewars-badge {
    top: -5px;
    position: relative;
    animation: fadeinout 1s linear infinite;
  }

  @-webkit-keyframes fadeinout {
    0%,100% { 
      opacity: 0.4;
      width: 110px;
    }
    50% { 
      opacity: 1;
      width: 120px;
    }
  }

  @keyframes fadeinout {
    0%,100% {
      opacity: 0.4;
      width: 110px;
    }
    50% {
      opacity: 1;
      width: 120px;
    }
  }
}

.copyrights {
  position: absolute;
  font-size: 1.2rem;
  right: 1rem;
  top: .5rem;
  color: var(--main-gray);
}
